@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */

* {
  position: relative;
}

html,
body {
  font-size: 10px;
  height: 100%;
}
body {
  margin: 4rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
